# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml
.php_cs.cache

## Directory-based project format:
.idea/
/vendor/
/bin/
/build/

